---
import LegalLayout from '../layouts/LegalLayout.astro';
---
<LegalLayout title="Impressum">
  <h2>Angaben gemäss Art. 13 ZGB</h2>
  <p>
    ictira GmbH<br />
    Aufgendsweg 3<br />
    4455 Zunzgen, Schweiz
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: <a href="tel:+41615391758">061 539 17 58</a><br />
    E-Mail: <a href="mailto:info@haustechnikbasel.ch">info@haustechnikbasel.ch</a>
  </p>

  <h2>Handelsregistereintrag</h2>
  <p>
    Eingetragener Firmenname: ictira GmbH<br />
    Handelsregisternummer: CHE-476.809.964
  </p>

  <h2>Arbeiten ausgeführt durch</h2>
  <p>
    Eingetragener Firmenname: Helvatec Haustechnik KlG<br />
    Handelsregisternummer: CHE-460.133.049
  </p>

  <h2>Haftungsausschluss</h2>
  <p>
    Der Betreiber übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität,
    Zuverlässigkeit und Vollständigkeit der Informationen auf dieser Website.
    Haftungsansprüche wegen Schäden materieller oder immaterieller Art, welche aus dem
    Zugriff oder der Nutzung der veröffentlichten Informationen entstanden sind, werden
    ausgeschlossen.
  </p>

  <h2>Urheberrechte</h2>
  <p>
    Die Urheber- und alle anderen Rechte an Inhalten, Bildern und Fotos auf dieser Website
    gehören ausschliesslich Haustechnik Basel oder den namentlich genannten Rechtsinhabern.
    Für die Reproduktion ist die schriftliche Zustimmung des Urheberrechtsträgers
    einzuholen.
  </p>
</LegalLayout>
