---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import Services from '../components/Services.astro';
import ProcessMini from '../components/ProcessMini.astro';
import ReferenzenTeaser from '../components/ReferenzenTeaser.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav activePage="home" />
  <main>
    <Hero />
    <TrustStrip />
    <Services />
    <ProcessMini />
    <ReferenzenTeaser />
    <About />
  </main>
  <Footer />
</Layout>
